
/* Mobile: normal (vertical) */
.svg-container-map-campus svg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, width 0.3s ease;
}


/* Desktop*/
/* @media (min-width: 900px) {
  .svg-container-map-campus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-container-map-campus svg {
    transform: rotate(-90deg) scale(0.85);
    transform-origin: center;
  }
} */
@media (min-width: 900px) {
  .svg-container-map-campus {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* evita scroll raro */
  }

  .svg-container-map-campus svg {
    height: 100%;       /* ocupa la altura del contenedor */
    width: auto;        /* mantiene proporción vertical */
  }


}