.interactive-page {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  width: 100%;
}

@Media (min-width: 601px) {
  .interactive-page {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@Media (min-width: 1201px) {
  .interactive-page {
    padding-top: 2rem;
  }
}