.map-page {
  display: flex;
  flex-direction: column;
  /* gap:0.7rem; */
}

.levels-radio-group {
  display: flex;
}

.svg-container {
  width:100%;
  height: 100%;
  overflow: auto
}

.icon-common {
  font-size: 0.8rem;
  font-weight: regular;
  color: #213547;
}

.libraryRestrictedZone path,
.maintenance path {
  fill: #aaa;
  stroke: #505050;
  stroke-width: 0.7;
}

/* .libraryRestrictedZone path {
  fill: #bc793c;
  stroke: #000000;
  stroke-width: 0.7;
}

.lecturaMundi path {
  fill: #c7a67e;
  stroke: #505050;
  stroke-width: 0.7;
} */

.iAMKAdmin path {
  fill: #7a2bc5;
  stroke: #552281;
  stroke-width: 0.7;
}

/* BuildingMap.css */
svg path,
svg text {
  cursor: pointer;
}

svg text {
  font-family: inherit; /* Usa la fuente heredada */
  fill: #2e4b7d; /* Color del texto para mayor consistencia */
}

.classRoom path:hover {
  fill: #aaa;
}

.classes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* MAPA */

.classRoom:hover path {
  fill: var(--primary-color-light);
  stroke: initial;
  stroke-width: initial;
}

@Media (min-width: 601px) {
  .levels-radio-group {
    justify-content: center;
    flex-direction: row;
  }

  .svg-container {
    max-height: 70vh;
  }
}