.map-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* gap:0.7rem; */
}
.map-container {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.svg-container {
  width: 100%;
  height: 100%;
  display: block;
}


.icon-common {
  font-size: 0.8rem;
  font-weight: regular;
  color: #213547;
}
.libraryRestrictedZone path,
.maintenance path {
  fill: #aaa;
  stroke: #505050;
  stroke-width: 0.7;
}

/* .libraryRestrictedZone path {
  fill: #bc793c;
  stroke: #000000;
  stroke-width: 0.7;
}

.lecturaMundi path {
  fill: #c7a67e;
  stroke: #505050;
  stroke-width: 0.7;
} */

.iAMKAdmin path {
  fill: #7a2bc5;
  stroke: #552281;
  stroke-width: 0.7;
}

/* BuildingMap.css */
svg path,
svg text {
  /* fill: #ddd; */
  cursor: pointer;
}

svg text {
  font-family: inherit; /* Usa la fuente heredada */
  fill: #2e4b7d; /* Color del texto para mayor consistencia */
}

.classRoom path:hover {
  fill: #aaa;
}

.classes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* MAPA */

.classRoom path {
  fill: white !important;
  stroke: #cccccc !important;
  stroke-width: 1px !important;
}
.classRoom.selected text{
  fill: #fff !important;
  /* font-weight: bold !important;
  font-size: 1.2rem !important;
  line-height: 1.2rem !important; */
}
/* Aula seleccionada con colores originales */
.classRoom.selected path {
  fill: var(--danger-color-dark) !important;
  stroke: initial !important;
  stroke-width: initial !important;
}
.classRoom:hover path {
  fill: var(--primary-color-light) !important;
  stroke: initial !important;
  stroke-width: initial !important;
}

/* Mantener colores especiales (biblioteca, baños, etc.) */
.g-special path {
  fill: initial !important;
  stroke: initial !important;
}